.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 997px) {
  .settingsContainer {
    flex-direction: row;
  }
}

.sidebar {
  flex: 0 0 25%;
}

.content {
  flex: 1;
}

.settingsCard {
  border-radius: 24px;
  background-color: var(--m3-surface-variant);
  border: none;
  padding: 24px;
  color: var(--m3-on-surface-variant);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-bottom: 2rem;
}

.cardHeader {
  border-bottom: 1px solid var(--m3-outline);
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.inputField {
  width: 100%;
  text-align: left;
  cursor: text;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--m3-outline);
  background-color: var(--m3-surface);
  color: var(--m3-on-surface);
}

.selectField {
  width: 200px;
  border-radius: 12px;
}

.saveButton {
  border-radius: 24px;
  padding: 12px 32px;
}
